.content_artist{
    width: 325px;
    height: 64px;
    background: hsla(0,0%,100%,.07);
    border-radius: 14px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}

.img_artist{
    width: 64px;
    height: 64px;
    background: #fff;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

h3{
    color: #fff;
    padding-left: 1rem;
}

.content_artist:hover{
    color: #000;
    background-color: hsla(0,0%,100%,.1);
    transition: all 0.2s;
  }