.content{
    flex-direction: column;
}

.container{
        display: flex;
        justify-content: flex-end;
        height: 10vh;
        align-items: center;
        flex-direction: row;
        padding: 20px;
}

.img{
    border-radius: 30px;
    cursor: pointer;
}

.input{
    margin-right: 2rem;
    height: 48px;
    width: 20rem;
    background-color: #242424;
    border-radius: 30px;
    border: 0;
    padding: 6px 48px;
    color: #fff!important;
    font-size: 15px;
    text-overflow: ellipsis;
    font-weight: 600;
}

.input_header{
    display: flex;
    align-items: center;
}

.icon{
    position: fixed; 
    padding-left: 0.9rem;
    cursor: pointer;
}

.iconClear{
    position: absolute; 
    right: 8rem;
    cursor: pointer;
}

.name{
    padding: 1rem;
    color: #fff;
    font-size: 16px;
}

.modal{
    background: #2a2a2a;
    display: flex;
    width: 15%;
    border-radius: 10px;
    float: right;     
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    position: absolute;
    z-index: 100;
    box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
    right: 20px ;
}
.modal_content{
    flex-direction: column;
    display: flex;
    width: 100%;
    padding: 0.5rem;  
}

.button{
    background: transparent;
    margin-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 8px; 
    flex-direction: row;
    display: flex;  
    align-items: center;
    justify-content: space-between;
}

.button:hover{
    background:#727272;
}

.button:last-child{
    margin-bottom: 0px;
}

p{
    
    color: #fff;
}

.iconNew{
}

hr {
	border: 0;
    width: 100%;
	border-top: 2px solid gray;
}

