.container{
    /* height: 100vh; */
    background: #121212;
    width: 417px;
    flex-direction: column;
    padding:  0 0.5rem 0 0.5rem;
    display: flex;
    align-items: center;
}

.content{
    width: 417px;
    height: 152px;  
    background: #1a1a1a;
    border-radius: 14px;
}
.button{
    background: transparent;
    margin-bottom: 5px;
    padding-left: 1.5rem;
    padding-top: 10px;
    cursor: pointer;
    border-radius: 8px; 
    flex-direction: row;
    display: flex;  
    align-items: center;
    justify-content: flex-start;
}

.biblio{
    padding-left: 1.5rem;
    padding-top: 10px;
    flex-direction: row;
    display: flex;  
    align-items: center;
    justify-content: flex-start;
}

/* .button:hover{
    background:#727272;
} */

p{
    
    color: #fff;
    font-weight: 600;
    
    font-size: 1rem;
}

.content:last-child{
    margin-top: 0.5rem;
    max-height: 100vh;
}