.body{
/* display:flex; */
float: left;
background: #1a1a1a;

}
  
.container{
padding: 20px;
}

.sectionItems{
flex-direction: row;
display:grid;
grid-template-columns: repeat(4, 3fr);
}

.content{
width: 206px;
height: 304px;
display: flex;
justify-content: center;   
align-items:center; 
background: #2a2a2a;
border-radius: 14px;
padding: 0.8rem;

flex-direction: column;
}



.img{
border-radius: 14px;  
  
}
h1{
color: #fff;
font-size: 1.2rem;
}
.home{
background: #1a1a1a; 
margin: 1rem; 
border-radius: 14px; 
height: 95.5vh;
display: grid;   
overflow-y: scroll;
scroll-behavior: smooth;
grid-template-columns: repeat(1, 2fr);
}
.home::-webkit-scrollbar {
width: 12px; /* width of the entire scrollbar */
}

.home::-webkit-scrollbar-track {
background: transparent;/* color of the tracking area */
}

.home::-webkit-scrollbar-thumb {
background-color: hsla(0,0%,100%,.07);
/* border-radius: 20px; */
/* border: 3px solid orange;   */
}


.layout_grid{
  display:grid;
  grid-template-columns: repeat(3, 2fr);
}



span{
color: #b3b3b3;
font-size: 1rem;
font-weight: 600;
}

a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
color: #b3b3b3 ;
}